In [6]:
import pandas as pd
import pickle
import xarray as xr

In [7]:
df = pickle.load(open("./CAMS_all/spatial.pik", "rb"))

In [38]:
land = df.sel(time="2015").Earth_Land

In [39]:
land.values

array([ 0.06394992,  0.14533243,  0.34006223,  0.1308286 , -0.86682724,
       -2.19143169, -2.8850053 , -1.32070562,  0.47596018,  1.63803778,
        1.64435987,  0.90932163])

In [40]:
land.time.values

array([cftime.Datetime360Day(2015, 1, 16, 0, 0, 0, 0, 5, 16),
       cftime.Datetime360Day(2015, 2, 16, 0, 0, 0, 0, 0, 46),
       cftime.Datetime360Day(2015, 3, 16, 0, 0, 0, 0, 2, 76),
       cftime.Datetime360Day(2015, 4, 16, 0, 0, 0, 0, 4, 106),
       cftime.Datetime360Day(2015, 5, 16, 0, 0, 0, 0, 6, 136),
       cftime.Datetime360Day(2015, 6, 16, 0, 0, 0, 0, 1, 166),
       cftime.Datetime360Day(2015, 7, 16, 0, 0, 0, 0, 3, 196),
       cftime.Datetime360Day(2015, 8, 16, 0, 0, 0, 0, 5, 226),
       cftime.Datetime360Day(2015, 9, 16, 0, 0, 0, 0, 0, 256),
       cftime.Datetime360Day(2015, 10, 16, 0, 0, 0, 0, 2, 286),
       cftime.Datetime360Day(2015, 11, 16, 0, 0, 0, 0, 4, 316),
       cftime.Datetime360Day(2015, 12, 16, 0, 0, 0, 0, 6, 346)],
      dtype=object)

In [34]:
pd.DataFrame({"CAMS Land": land.values}, index=land.time.values)

                     CAMS Land
2015-01-16 00:00:00   0.063950
2015-02-16 00:00:00   0.145332
2015-03-16 00:00:00   0.340062
2015-04-16 00:00:00   0.130829
2015-05-16 00:00:00  -0.866827
2015-06-16 00:00:00  -2.191432
2015-07-16 00:00:00  -2.885005
2015-08-16 00:00:00  -1.320706
2015-09-16 00:00:00   0.475960
2015-10-16 00:00:00   1.638038
2015-11-16 00:00:00   1.644360
2015-12-16 00:00:00   0.909322

In [92]:
def extract_data(model):
    df = pickle.load(open(f"./{model}_all/spatial.pik", "rb")).sel(time="2015")
    
    land =  pd.DataFrame({f"{model} Land": df.Earth_Land.values}, index=df.Earth_Land.time.values)
    ocean =  pd.DataFrame({f"{model} Ocean": df.Earth_Ocean.values}, index=df.Earth_Ocean.time.values)
    
    land.to_csv(f"{model}_Land_2015.csv")
    ocean.to_csv(f"{model}_Ocean_2015.csv")
    
    return f"{model} Land and Ocean 2015 saved."

In [93]:
extract_data("JAMSTEC")
extract_data("JENA_s76")
extract_data("JENA_s85")
extract_data("CTRACKER")
extract_data("CAMS")

'CAMSLand and Ocean 2015 saved.'

In [76]:
pickle.load(open(f"./CAMS_all/year.pik", "rb")).Earth_Land.values[-3]

-1.9161172001506397

In [77]:
pickle.load(open(f"./CAMS_all/year.pik", "rb")).Earth_Ocean.values[-3]

-1.9333898412771284

In [78]:
pickle.load(open(f"./CTRACKER_all/year.pik", "rb")).Earth_Land.values[-3]

-1.7816354278207325

In [79]:
pickle.load(open(f"./CTRACKER_all/year.pik", "rb")).Earth_Ocean.values[-3]

-2.2484419807798504

In [80]:
pickle.load(open(f"./JENA_s76_all/year.pik", "rb")).Earth_Land.values[-3]

-1.5830870961559065

In [81]:
pickle.load(open(f"./JENA_s76_all/year.pik", "rb")).Earth_Ocean.values[-3]

-2.0544652349838533

In [82]:
pickle.load(open(f"./JENA_s85_all/year.pik", "rb")).Earth_Land.values[-3]

-1.6173573418212424

In [83]:
pickle.load(open(f"./JENA_s85_all/year.pik", "rb")).Earth_Ocean.values[-3]

-1.998928654460085

In [84]:
pickle.load(open(f"./JAMSTEC_all/year.pik", "rb")).Earth_Land.values[-3]

-1.929153148816223

In [85]:
pickle.load(open(f"./JAMSTEC_all/year.pik", "rb")).Earth_Ocean.values[-3]

-1.854046148523337

In [87]:
annual = pd.DataFrame({"Land": [-1.929153148816223, -1.5830870961559065, -1.6173573418212424, -1.7816354278207325,
                       -1.9161172001506397],
              "Ocean": [-1.854046148523337, -2.0544652349838533, -1.998928654460085, -2.2484419807798504,
                        -1.9333898412771284]
             },
             index=["JAMSTEC", "JENA_s76", "JENA_s85", "CTRACKER", "CAMS"])

In [88]:
annual

              Land     Ocean
JAMSTEC  -1.929153 -1.854046
JENA_s76 -1.583087 -2.054465
JENA_s85 -1.617357 -1.998929
CTRACKER -1.781635 -2.248442
CAMS     -1.916117 -1.933390

In [89]:
annual.to_csv("annual_2015.csv")